Repository aws-amplify/amplify-android, pull requests merged in 2019-12, with the labels that each got.

#162 Add changelog
  CHANGELOG.md
Labels: Core, Infrastructure, PullRequest

#181 [Core] Cleanup code quality issues in Amplify facade
  core/src/main/java/com/amplifyframework/core/Amplify.java
Labels: Core, PullRequest

#184 Updates to README.md
  README.md
Labels: Infrastructure, PullRequest

#188 Adds field for denoting owner based authorization
  aws-api/src/main/java/com/amplifyframework/api/aws/AWSApiPlugin.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AppSyncGraphQLRequestFactory.java
  aws-api/src/main/java/com/amplifyframework/api/aws/sigv4/CognitoUserPoolsAuthProvider.java
  aws-api/src/main/java/com/amplifyframework/api/aws/sigv4/DefaultCognitoUserPoolsAuthProvider.java
  aws-api/src/test/java/com/amplifyframework/api/aws/AppSyncSigV4SignerInterceptorFactoryTest.java
  core/src/main/java/com/amplifyframework/core/model/ModelSchema.java
  core/src/main/java/com/amplifyframework/core/model/annotations/ModelConfig.java
Labels: API, PullRequest

#177 [DataStore] Add Data Hydrator
  aws-datastore/src/main/java/com/amplifyframework/datastore/network/DataHydration.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/network/DataHydrationTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/network/MockAppSyncEndpoint.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/network/ModelProviderFactory.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/network/RemoteModelStateTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/network/TestModelWithMetadataInstances.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/InMemoryStorageAdapter.java
Labels: DataStore, PullRequest

#192 [DataStore] Fix import of Immutable
  aws-datastore/src/test/java/com/amplifyframework/datastore/network/ModelProviderFactory.java
Labels: DataStore, PullRequest

#191 [DataStore] Implement conditional save for Storage Engine
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterInstrumentedTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/GsonStorageItemChangeConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/LocalStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/OperatorInterfaceAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/PredicateInterfaceAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/StorageItemChange.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLCommandFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteCommandFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SqlCommand.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SqlKeyword.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/adapter/SQLPredicate.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/adapter/SQLiteTable.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/InMemoryStorageAdapter.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategory.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategoryBehavior.java
  core/src/main/java/com/amplifyframework/util/ArrayUtils.java
  core/src/main/java/com/amplifyframework/util/Immutable.java
Labels: DataStore, PullRequest

#194 [SQLiteStorageAdapter] Minor refactoring
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapter.java
  core/src/main/java/com/amplifyframework/core/model/ModelSchemaRegistry.java
Labels: DataStore, PullRequest
