Repository aws-amplify/amplify-android, pull requests merged in 2020-07, with the labels that each got.

#615 Changes related to subscription connectivity problems
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionEndpoint.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionOperation.java
Labels: API, Bug

#599 DataStore race condition fix and other stability-related fixes
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionEndpoint.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionOperation.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/AmplifyDisposables.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreErrorHandler.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/Orchestrator.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/RetryStrategy.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/StorageObserver.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SubscriptionProcessor.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SyncProcessor.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/AWSDataStorePluginTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/appsync/AppSyncMocking.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/OrchestratorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/RetryStrategyTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/SubscriptionProcessorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/SyncProcessorTest.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreChannelEventName.java
Labels: Bug, DataStore

#643 fix(datastore) Missed a function name change during merge
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/OrchestratorTest.java
Labels: DataStore

#658 fix(api): now correctly signs requests with query string params
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/RestApiInstrumentationTest.java
  aws-api/src/main/java/com/amplifyframework/api/aws/sigv4/AppSyncSigV4SignerInterceptor.java
  aws-api/src/main/java/com/amplifyframework/api/aws/utils/RestRequestFactory.java
  aws-api/src/test/java/com/amplifyframework/api/aws/utils/RestRequestFactoryTest.java
Labels: API
