Repository aws-amplify/amplify-android, pull requests merged in 2020-05, with the labels that each got.

#401 [aws-datstore] Implementation of user-provided DataStore configs
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePluginConfiguration.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/ApplyRemoteConflictHandler.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreConfiguration.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreConfigurationProvider.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreConflictData.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreConflictHandler.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreConflictHandlerResult.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreErrorHandler.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DefaultDataStoreErrorHandler.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/Orchestrator.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SyncProcessor.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/AWSDataStorePluginConfigurationTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/AWSDataStorePluginTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/DataStoreConfigurationTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/OrchestratorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/SyncProcessorTest.java
  core/src/main/java/com/amplifyframework/core/AmplifyConfiguration.java
  core/src/main/java/com/amplifyframework/core/category/Category.java
  core/src/main/java/com/amplifyframework/core/category/EmptyCategoryConfiguration.java
Labels: DataStore

#417 Auth Sign In/Sign Up Options Updates
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/options/AWSCognitoAuthSignInOptions.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/options/AWSCognitoAuthSignUpOptions.java
  core/src/main/java/com/amplifyframework/auth/AuthCategory.java
  core/src/main/java/com/amplifyframework/auth/AuthUserAttribute.java
  core/src/main/java/com/amplifyframework/auth/AuthUserAttributeKey.java
  core/src/main/java/com/amplifyframework/auth/options/AuthSignInOptions.java
  core/src/main/java/com/amplifyframework/auth/options/AuthSignUpOptions.java
Labels: Auth

#398 add support for non-model types in DataStore
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterModelConverterTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/model/ModelFieldTypeConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/model/ModelHelper.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteCommandFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteDataType.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteModelFieldTypeConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SqlCommand.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/TypeConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/adapter/SQLPredicate.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/adapter/SQLiteColumn.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/adapter/SQLiteTable.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/StorageItemChangeRecordTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/sqlite/SqlCommandTest.java
  core/src/main/java/com/amplifyframework/AmplifyException.java
  core/src/main/java/com/amplifyframework/core/model/ModelField.java
  core/src/main/java/com/amplifyframework/core/model/ModelSchema.java
  core/src/main/java/com/amplifyframework/core/model/types/JavaFieldType.java
  core/src/main/java/com/amplifyframework/logging/AndroidLoggingPlugin.java
  core/src/main/java/com/amplifyframework/logging/LoggingCategory.java
  core/src/main/java/com/amplifyframework/logging/LoggingCategoryBehavior.java
  core/src/test/java/com/amplifyframework/core/BadInitLoggingPlugin.java
  core/src/test/java/com/amplifyframework/core/SimpleLoggingPlugin.java
  core/src/test/java/com/amplifyframework/core/model/ModelSchemaTest.java
  core/src/test/java/com/amplifyframework/logging/FakeLoggingPlugin.java
  testmodels/src/main/java/com/amplifyframework/testmodels/todo/AmplifyModelProvider.java
  testmodels/src/main/java/com/amplifyframework/testmodels/todo/Todo.java
  testmodels/src/main/java/com/amplifyframework/testmodels/todo/TodoOwner.java
  testmodels/src/main/java/com/amplifyframework/testmodels/todo/TodoStatus.java
  testmodels/src/main/java/com/amplifyframework/testmodels/todo/schema.graphql
Labels: DataStore

#412 [aws-api] Fix JsonParseException when parsing null path in Error object
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonErrorDeserializer.java
  aws-api/src/test/java/com/amplifyframework/api/aws/GsonGraphQLResponseFactoryTest.java
  aws-api/src/test/resources/error-null-properties.json
Labels: API

#421 Miscellaneous changes for Predictions
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/IdentifyResultTransformers.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/configuration/IdentifyEntitiesConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/configuration/InterpretTextConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/configuration/TranslateTextConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/models/BinaryFeatureType.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/operation/AWSIdentifyOperation.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/operation/AWSInterpretOperation.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/operation/AWSTranslateTextOperation.java
  core/src/main/java/com/amplifyframework/predictions/PredictionsCategory.java
  core/src/main/java/com/amplifyframework/predictions/PredictionsCategoryBehavior.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousPredictions.java
Labels: Predictions

#407 [aws-api] Handle AppSync date time scalar types
  aws-api/build.gradle
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonGraphQLResponseFactory.java
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonListDeserializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonVariablesSerializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/TemporalDeserializers.java
  aws-api/src/test/java/com/amplifyframework/api/aws/AppSyncGraphQLRequestFactoryTest.java
  aws-api/src/test/java/com/amplifyframework/api/aws/GsonGraphQLResponseFactoryTest.java
  aws-api/src/test/java/com/amplifyframework/api/aws/ListMeetingsResult.java
  aws-api/src/test/resources/create-meeting1.txt
  aws-api/src/test/resources/list-meetings-response.json
  build.gradle
  core/build.gradle
  core/src/main/java/com/amplifyframework/core/model/AWSDate.java
  core/src/main/java/com/amplifyframework/core/model/AWSDateTime.java
  core/src/main/java/com/amplifyframework/core/model/AWSTime.java
  core/src/test/java/com/amplifyframework/core/model/scalar/AWSDateTest.java
  core/src/test/java/com/amplifyframework/core/model/scalar/AWSDateTimeTest.java
  core/src/test/java/com/amplifyframework/core/model/scalar/AWSTimeTest.java
  testmodels/src/main/java/com/amplifyframework/testmodels/meeting/Meeting.java
  testmodels/src/main/java/com/amplifyframework/testmodels/meeting/schema.graphql
Labels: API

#422 Add unit test for result transfomer utilities
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/adapter/IdentifyResultTransformersTest.java
Labels: Predictions

#409 Implement online text detection
  aws-predictions/build.gradle
  aws-predictions/src/androidTest/assets/sample-form.png
  aws-predictions/src/androidTest/assets/sample-table-expected-text.txt
  aws-predictions/src/androidTest/assets/sample-table.png
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsIdentifyTextTest.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/AWSPredictionsEscapeHatch.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/AWSPredictionsPlugin.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/RekognitionResultTransformers.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/TextractResultTransformers.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/operation/AWSIdentifyOperation.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/request/AWSImageIdentifyRequest.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSPredictionsService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSRekognitionService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSTextractService.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/adapter/RekognitionResultTransformersTest.java
  build.gradle
  core/src/main/java/com/amplifyframework/predictions/models/BoundedKeyValue.java
  core/src/main/java/com/amplifyframework/predictions/models/Cell.java
  core/src/main/java/com/amplifyframework/predictions/models/FeatureType.java
  core/src/main/java/com/amplifyframework/predictions/models/IdentifiedText.java
  core/src/main/java/com/amplifyframework/predictions/models/Selection.java
  core/src/main/java/com/amplifyframework/predictions/models/Table.java
  testutils/src/main/java/com/amplifyframework/testutils/Assets.java
  testutils/src/main/java/com/amplifyframework/testutils/FeatureAssert.java
Labels: Predictions

#426 Add unit tests for predictions result transformers
  aws-predictions/build.gradle
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/TextractResultTransformers.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/AWSPredictionsPluginConfigurationTest.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/adapter/RekognitionResultTransformersTest.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/adapter/TextractResultTransformersTest.java
  aws-predictions/src/test/resources/configuration-with-identify-entities.json
  aws-predictions/src/test/resources/configuration-with-identify-entity-matches.json
Labels: Predictions

#439 [aws-datastore] PendingMutations are now Comparable according to their creation times
  aws-datastore/build.gradle
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/GsonPendingMutationConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/MutationOutbox.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/PendingMutation.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/TimeBasedUuid.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/PendingMutationPersistentRecordTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/GsonPendingMutationConverterTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MutationOutboxTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/PendingMutationTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/TimeBasedUuidTest.java
  build.gradle
Labels: DataStore

#438 [DataStore] query API changes with pagination support
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/SynchronousStorageAdapter.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterModelConverterTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterQueryTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/LocalStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLCommandFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteCommandFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SqlKeyword.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/Merger.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/MutationOutbox.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SyncTimeRegistry.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/VersionRepository.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/InMemoryStorageAdapter.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/SynchronousStorageAdapter.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/sqlite/SqlCommandTest.java
  core/src/main/java/com/amplifyframework/core/model/query/Page.java
  core/src/main/java/com/amplifyframework/core/model/query/QueryOptions.java
  core/src/main/java/com/amplifyframework/core/model/query/QueryPaginationInput.java
  core/src/main/java/com/amplifyframework/core/model/query/Where.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategory.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategoryBehavior.java
Labels: DataStore

#437 Adds some miscellaneous, missing method documentation.
  aws-analytics-pinpoint/src/androidTest/java/com/amplifyframework/analytics/pinpoint/AnalyticsPinpointInstrumentedTest.java
  aws-api/src/test/java/com/amplifyframework/api/aws/AWSApiPluginTest.java
  aws-api/src/test/java/com/amplifyframework/api/aws/GsonGraphQLResponseFactoryTest.java
  aws-api/src/test/java/com/amplifyframework/api/aws/GsonUtilTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/AWSDataStorePluginInstrumentedTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterDeleteTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterModelConverterTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterQueryTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterSaveTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/DataStoreConfiguration.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/appsync/AppSyncExtensions.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/model/SimpleModelProvider.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/model/SystemModelsProviderFactory.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/AWSDataStorePluginTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/DataStoreConfigurationTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/sqlite/SqlCommandTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MergerTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MutationProcessorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/VersionRepositoryTest.java
  aws-predictions-tensorflow/src/main/java/com/amplifyframework/predictions/tensorflow/request/TensorFlowTextClassificationRequest.java
  aws-predictions-tensorflow/src/main/java/com/amplifyframework/predictions/tensorflow/service/TensorFlowPredictionsService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/NetworkPolicy.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/adapter/RekognitionResultTransformersTest.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/adapter/TextractResultTransformersTest.java
  configuration/checkstyle-rules.xml
  core/src/main/java/com/amplifyframework/analytics/UserProfile.java
  core/src/main/java/com/amplifyframework/api/graphql/GraphQLLocation.java
  core/src/main/java/com/amplifyframework/api/graphql/GraphQLPathSegment.java
  core/src/main/java/com/amplifyframework/core/category/EmptyCategoryConfiguration.java
  core/src/main/java/com/amplifyframework/core/model/AWSDate.java
  core/src/main/java/com/amplifyframework/core/model/AWSDateTime.java
  core/src/main/java/com/amplifyframework/core/model/AWSTime.java
  core/src/main/java/com/amplifyframework/core/model/AWSTimestamp.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategoryBehavior.java
  core/src/main/java/com/amplifyframework/predictions/models/Selection.java
  core/src/main/java/com/amplifyframework/storage/options/StorageGetUrlOptions.java
  core/src/main/java/com/amplifyframework/storage/options/StorageUploadFileOptions.java
  core/src/test/java/com/amplifyframework/analytics/AnalyticsBooleanPropertyTest.java
  core/src/test/java/com/amplifyframework/analytics/AnalyticsDoublePropertyTest.java
  core/src/test/java/com/amplifyframework/analytics/AnalyticsEventTest.java
  core/src/test/java/com/amplifyframework/analytics/AnalyticsIntegerPropertyTest.java
  core/src/test/java/com/amplifyframework/analytics/AnalyticsPropertiesTest.java
  core/src/test/java/com/amplifyframework/analytics/AnalyticsStringPropertyTest.java
  core/src/test/java/com/amplifyframework/core/BadInitLoggingPlugin.java
  core/src/test/java/com/amplifyframework/core/model/AWSTimestampTest.java
  core/src/test/java/com/amplifyframework/core/model/scalar/AWSDateTest.java
  core/src/test/java/com/amplifyframework/core/model/scalar/AWSDateTimeTest.java
  core/src/test/java/com/amplifyframework/core/model/scalar/AWSTimeTest.java
  core/src/test/java/com/amplifyframework/logging/LoggingCategoryTest.java
  rxbindings/src/test/java/com/amplifyframework/rx/RxApiBindingTest.java
  rxbindings/src/test/java/com/amplifyframework/rx/RxDataStoreBindingTest.java
  rxbindings/src/test/java/com/amplifyframework/rx/RxHubBindingTest.java
  testutils/src/main/java/com/amplifyframework/testutils/EmptyAction.java
Labels: Documentation

#442 [core] Break apart utils classes
  aws-api/src/main/java/com/amplifyframework/api/aws/AppSyncGraphQLRequestFactory.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/ModelUpgradeSQLiteInstrumentedTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/appsync/AppSyncRequestFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteCommandFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapter.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsIdentifyCelebritiesTest.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsIdentifyEntitiesTest.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsIdentifyLabelsTest.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsIdentifyTextTest.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/RekognitionResultTransformers.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/TextractResultTransformers.java
  core/src/main/java/com/amplifyframework/util/Casing.java
  core/src/main/java/com/amplifyframework/util/Empty.java
  core/src/main/java/com/amplifyframework/util/Quotes.java
  core/src/main/java/com/amplifyframework/util/StringUtils.java
  core/src/test/java/com/amplifyframework/util/CasingTest.java
  core/src/test/java/com/amplifyframework/util/EmptyTest.java
  core/src/test/java/com/amplifyframework/util/QuotesTest.java
Labels: Core

#433 Refactors methods to match design and adds unit tests
  aws-auth-cognito/build.gradle
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthProvider.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthSession.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthUser.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/options/AWSCognitoAuthSignInOptions.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/options/AWSCognitoAuthSignUpOptions.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/util/SignInStateConverter.java
  aws-auth-cognito/src/test/java/com/amplifyframework/auth/cognito/AuthComponentTest.java
  aws-auth-cognito/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  aws-auth-cognito/src/test/resources/robolectric.properties
  core/src/main/java/com/amplifyframework/auth/AuthCategory.java
  core/src/main/java/com/amplifyframework/auth/AuthCategoryBehavior.java
  core/src/main/java/com/amplifyframework/auth/AuthCodeDeliveryDetails.java
  core/src/main/java/com/amplifyframework/auth/AuthProvider.java
  core/src/main/java/com/amplifyframework/auth/AuthSession.java
  core/src/main/java/com/amplifyframework/auth/AuthSignInState.java
  core/src/main/java/com/amplifyframework/auth/AuthUser.java
  core/src/main/java/com/amplifyframework/auth/AuthUserAttribute.java
  core/src/main/java/com/amplifyframework/auth/AuthUserAttributeKey.java
  core/src/main/java/com/amplifyframework/auth/options/AuthSignInOptions.java
  core/src/main/java/com/amplifyframework/auth/options/AuthSignUpOptions.java
  core/src/main/java/com/amplifyframework/auth/result/AuthResetPasswordResult.java
  core/src/main/java/com/amplifyframework/auth/result/AuthSignInResult.java
  core/src/main/java/com/amplifyframework/auth/result/AuthSignUpResult.java
  core/src/main/java/com/amplifyframework/auth/result/AuthSocialSignInResult.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthNextResetPasswordStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthNextSignInStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthNextSignUpStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthResetPasswordStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthSignInStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthSignUpStep.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousAuth.java
Labels: Auth

#447 [DataStore] fix type conversion for enums and dates
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterModelConverterTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteModelFieldTypeConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/TypeConverter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/adapter/SQLPredicate.java
  core/src/main/java/com/amplifyframework/core/model/types/JavaFieldType.java
  testmodels/src/main/java/com/amplifyframework/testmodels/todo/Todo.java
Labels: DataStore

#457 Update Auth Session to Final Design
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthSession.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoUserPoolTokens.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/MobileClientSessionAdapter.java
  aws-auth-cognito/src/test/java/com/amplifyframework/auth/cognito/AuthComponentTest.java
  core/src/main/java/com/amplifyframework/AmplifyException.java
  core/src/main/java/com/amplifyframework/auth/AuthException.java
  core/src/main/java/com/amplifyframework/auth/result/AuthSessionResult.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousAuth.java
Labels: Auth

#459 [aws-datastore] Fix unhandled exceptions when no API is available
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SubscriptionProcessor.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SyncProcessor.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/AWSDataStorePluginTest.java
Labels: DataStore

#462 Adds Hub events for Auth
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  core/src/main/java/com/amplifyframework/auth/AuthChannelEventName.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreChannelEventName.java
Labels: Auth

#463 Adds sign out to Auth
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  aws-auth-cognito/src/test/java/com/amplifyframework/auth/cognito/AuthComponentTest.java
  core/src/main/java/com/amplifyframework/auth/AuthCategory.java
  core/src/main/java/com/amplifyframework/auth/AuthCategoryBehavior.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousAuth.java
Labels: Auth

#460 [aws-datastore] three-way merge logic for unconditional mutations
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/AWSDataStorePluginInstrumentedTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/model/SystemModelsProviderFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/Merger.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/MutationOutbox.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/MutationProcessor.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/Orchestrator.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/PersistentMutationOutbox.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MergerTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MutationOutboxTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MutationProcessorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/OrchestratorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/PersistentMutationOutboxTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/SyncProcessorTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/TestHubEventFilters.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousDataStore.java
Labels: DataStore

#481 Add text and label configuration
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/AWSPredictionsPluginConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/configuration/IdentifyLabelsConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/configuration/IdentifyTextConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/operation/AWSIdentifyOperation.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSPredictionsService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSRekognitionService.java
  aws-predictions/src/test/java/com/amplifyframework/predictions/aws/AWSPredictionsPluginConfigurationTest.java
  aws-predictions/src/test/resources/configuration-with-identify-labels.json
  aws-predictions/src/test/resources/configuration-with-identify-text.json
  aws-predictions/src/test/resources/configuration-with-text-to-speech.json
Labels: Predictions

#486 Adds signInWithWebUI and signInWithSocialWebUI
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/options/AWSCognitoAuthWebUISignInOptions.java
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/util/AuthProviderConverter.java
  aws-auth-cognito/src/test/java/com/amplifyframework/auth/cognito/AuthComponentTest.java
  core/src/main/java/com/amplifyframework/auth/AuthCategory.java
  core/src/main/java/com/amplifyframework/auth/AuthCategoryBehavior.java
  core/src/main/java/com/amplifyframework/auth/AuthProvider.java
  core/src/main/java/com/amplifyframework/auth/options/AuthWebUISignInOptions.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthNextResetPasswordStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthNextSignInStep.java
  core/src/main/java/com/amplifyframework/auth/result/step/AuthNextSignUpStep.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousAuth.java
Labels: Auth

#506 Integrates Auth with Predictions, Updates Sign Out, Disables AWS Logs
  aws-auth-cognito/src/main/java/com/amplifyframework/auth/cognito/AWSCognitoAuthPlugin.java
  aws-auth-cognito/src/test/java/com/amplifyframework/auth/cognito/AuthComponentTest.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/TestPredictionsCategory.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/AWSPredictionsPlugin.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSComprehendService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSPollyService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSPredictionsService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSRekognitionService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSTextractService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSTranslateService.java
  core/src/main/java/com/amplifyframework/auth/AuthCategory.java
  core/src/main/java/com/amplifyframework/auth/AuthCategoryBehavior.java
  core/src/main/java/com/amplifyframework/auth/options/AuthSignOutOptions.java
Labels: GA

#488 [aws-api] add pagination
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/GraphQLInstrumentationTest.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AWSApiPlugin.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AppSyncGraphQLOperation.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AppSyncGraphQLRequestFactory.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AppSyncPaginatedResult.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AppSyncPaginatedResultDeserializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/GraphQLResponseDeserializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonErrorDeserializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonFactory.java
  aws-api/src/main/java/com/amplifyframework/api/aws/GsonGraphQLResponseFactory.java
  aws-api/src/main/java/com/amplifyframework/api/aws/IterableDeserializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SingleArrayResultOperation.java
  aws-api/src/main/java/com/amplifyframework/api/aws/StringDeserializer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionEndpoint.java
  aws-api/src/main/java/com/amplifyframework/api/aws/TypeMaker.java
  aws-api/src/test/java/com/amplifyframework/api/aws/GsonGraphQLResponseFactoryTest.java
  aws-api/src/test/java/com/amplifyframework/api/aws/ListTodosResult.java
  aws-api/src/test/java/com/amplifyframework/api/aws/Todo.java
  aws-api/src/test/java/com/amplifyframework/api/aws/TypeMakerTest.java
  aws-api/src/test/resources/partial-gql-response.json
  aws-datastore/src/main/java/com/amplifyframework/datastore/appsync/AppSyncClient.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/appsync/AppSyncClientTest.java
  core/src/main/java/com/amplifyframework/api/ApiCategory.java
  core/src/main/java/com/amplifyframework/api/graphql/GraphQLBehavior.java
  core/src/main/java/com/amplifyframework/api/graphql/GraphQLOperation.java
  core/src/main/java/com/amplifyframework/api/graphql/GraphQLRequest.java
  core/src/main/java/com/amplifyframework/api/graphql/GraphQLResponse.java
  core/src/main/java/com/amplifyframework/api/graphql/PaginatedResult.java
  rxbindings/src/main/java/com/amplifyframework/rx/RxApiBinding.java
  rxbindings/src/main/java/com/amplifyframework/rx/RxGraphQlBehavior.java
Labels: GA

#498 Implement conflict resolution rules for existing and incoming mutations for the same model
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/PersistentMutationOutbox.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/PersistentMutationOutboxTest.java
Labels: GA

#505 (feat) amplify-tools as a separate project
  amplify-tools/amplify-tools-gradle-plugin/build.gradle
  amplify-tools/amplify-tools-gradle-plugin/consumer-rules.pro
  amplify-tools/amplify-tools-gradle-plugin/gradle.properties
  amplify-tools/amplify-tools-gradle-plugin/src/main/AndroidManifest.xml
  amplify-tools/amplify-tools-gradle-plugin/src/main/groovy/com/amplifyframework/tools/gradle/plugin/AmplifyTools.groovy
  amplify-tools/amplify-tools-gradle-plugin/src/main/resources/META-INF/gradle-plugins/com.amplifyframework.amplifytools.properties
  amplify-tools/build.gradle
  amplify-tools/gradle.properties
  amplify-tools/gradle/wrapper/gradle-wrapper.jar
  amplify-tools/gradle/wrapper/gradle-wrapper.properties
  amplify-tools/gradlew
  amplify-tools/gradlew.bat
  amplify-tools/publishing.gradle
  amplify-tools/settings.gradle
Labels: GA

#416 [aws-datastore] Implement DataStore clear feature
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/SynchronousStorageAdapter.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapterClearTest.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/AWSDataStorePlugin.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/LocalStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/storage/sqlite/SQLiteStorageAdapter.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/MutationProcessor.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/Orchestrator.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/StorageObserver.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/SubscriptionProcessor.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/AWSDataStorePluginTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/storage/InMemoryStorageAdapter.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategory.java
  core/src/main/java/com/amplifyframework/datastore/DataStoreCategoryBehavior.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousDataStore.java
Labels: DataStore, GA

#502 Subscription authorizer for API
  .circleci/copy-configs
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/GraphQLInstrumentationTest.java
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/SubscriptionEndpointTest.java
  aws-api/src/main/java/com/amplifyframework/api/aws/AWSApiPlugin.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionAuthorizationHeader.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionAuthorizer.java
  aws-api/src/main/java/com/amplifyframework/api/aws/SubscriptionEndpoint.java
  aws-api/src/main/java/com/amplifyframework/api/aws/sigv4/AppSyncV4Signer.java
  aws-api/src/test/java/com/amplifyframework/api/aws/SubscriptionAuthorizerTest.java
Labels: GA

#496 [aws-datastore] adding predicate parameter to the necessary APIs
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/AppSyncClientInstrumentationTest.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/appsync/SynchronousAppSync.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/appsync/AppSync.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/appsync/AppSyncClient.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/appsync/AppSyncRequestFactory.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/MutationProcessor.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/PendingMutation.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/PersistentMutationOutbox.java
  aws-datastore/src/main/java/com/amplifyframework/datastore/syncengine/StorageObserver.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/appsync/AppSyncMocking.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/appsync/AppSyncRequestFactoryTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/MergerTest.java
  aws-datastore/src/test/java/com/amplifyframework/datastore/syncengine/PersistentMutationOutboxTest.java
  aws-datastore/src/test/resources/delete-person-with-predicate.txt
  aws-datastore/src/test/resources/update-blog-owner-with-predicate.txt
Labels: GA
