Repository aws-amplify/amplify-android, pull requests merged in 2020-04, with the labels that each got.

#354 [aws-api] Run tests against ApiCategory, not Amplify
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/AmplifyTestConfigurator.java
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/CodeGenerationInstrumentationTest.java
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/GraphQLInstrumentationTest.java
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/RestApiInstrumentationTest.java
  aws-api/src/androidTest/java/com/amplifyframework/api/aws/TestApiCategory.java
  aws-datastore/src/androidTest/java/com/amplifyframework/datastore/AWSDataStorePluginInstrumentedTest.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousApi.java
Labels: API, Improvement, Infrastructure

#355 [aws-storage-s3] Test against StorageCategory not Amplify
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageDownloadAccessLevelTest.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageDownloadTest.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageListAccessLevelTest.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageUploadAccessLevelTest.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageUploadTest.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/MobileClientIdentityIdSource.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/TestConfiguration.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/TestStorageCategory.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/UserCredentials.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousMobileClient.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousStorage.java
Labels: Improvement, Infrastructure, Storage

#359 Transitive dependencies already included for AWS Mobile Client
  aws-analytics-pinpoint/build.gradle
  aws-api/build.gradle
  aws-storage-s3/build.gradle
  core/build.gradle
  testutils/build.gradle
Labels: Improvement

#364 Run tests against PredictionsCategory, not Amplify
  aws-predictions/src/androidTest/assets/negative-review.txt
  aws-predictions/src/androidTest/assets/positive-review.txt
  aws-predictions/src/androidTest/assets/sample-text-en.txt
  aws-predictions/src/androidTest/assets/sample-text-fr.txt
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsInterpretTest.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/TestConfiguration.java
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/TestPredictionsCategory.java
  testutils/src/main/java/com/amplifyframework/testutils/sync/SynchronousPredictions.java
Labels: Improvement, Infrastructure, Predictions

#363 Add unit tests for offline predictions
  aws-predictions-tensorflow/build.gradle
  aws-predictions-tensorflow/src/main/java/com/amplifyframework/predictions/tensorflow/asset/TextClassificationDictionary.java
  aws-predictions-tensorflow/src/main/java/com/amplifyframework/predictions/tensorflow/asset/TextClassificationModel.java
  aws-predictions-tensorflow/src/main/java/com/amplifyframework/predictions/tensorflow/service/TensorFlowPredictionsService.java
  aws-predictions-tensorflow/src/main/java/com/amplifyframework/predictions/tensorflow/service/TensorFlowTextClassificationService.java
  aws-predictions-tensorflow/src/test/java/com/amplifyframework/predictions/tensorflow/asset/InputTokenizerTest.java
  aws-predictions-tensorflow/src/test/java/com/amplifyframework/predictions/tensorflow/service/TextClassificationTest.java
  aws-predictions-tensorflow/src/test/resources/word-tokens.txt
Labels: Infrastructure, Predictions

#365 Improve feature comparison in tests
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsInterpretTest.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSComprehendService.java
  core/src/main/java/com/amplifyframework/predictions/models/TargetText.java
  core/src/main/java/com/amplifyframework/predictions/models/TextFeature.java
  testutils/src/main/java/com/amplifyframework/testutils/FeatureAssert.java
Labels: Improvement, Infrastructure, Predictions

#367 Re-enable ignored storage test
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageDownloadTest.java
  aws-storage-s3/src/androidTest/java/com/amplifyframework/storage/s3/AWSS3StorageUploadTest.java
Labels: Infrastructure, Storage

#413 Cleanups to README, CHANGELOG, CONTRIBUTING
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: Documentation

#399 Implement online entity detection
  aws-predictions/src/androidTest/java/com/amplifyframework/predictions/aws/AWSPredictionsIdentifyEntitiesTest.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/AWSPredictionsPluginConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/NetworkPolicy.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/EmotionTypeAdapter.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/GenderBinaryTypeAdapter.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/adapter/IdentifyResultTransformers.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/configuration/IdentifyEntitiesConfiguration.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/operation/AWSIdentifyOperation.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSPredictionsService.java
  aws-predictions/src/main/java/com/amplifyframework/predictions/aws/service/AWSRekognitionService.java
  core/src/main/java/com/amplifyframework/predictions/models/Feature.java
Labels: Predictions
